:root {
  --box-shadow-color: rgba(0, 0, 0, 0.05);
  --box-border-radius: 0.5rem;
}

@mixin box {
  box-shadow: 0 0.2rem 0.4rem 0 var(--box-shadow-color);
  background-color: var(--lighter);
  border-radius: var(--box-border-radius);
  margin: var(--box-border-radius);
  transition: box-shadow 0.2s ease-in-out 0s;

  &:hover,
  &:focus {
    --box-shadow-color: rgba(0, 0, 0, 0.15);
    transition: all 0.3s;
  }
}

.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;

  article {
    display: flex;
    min-height: 100%;
    padding-top: 8rem;
    width: 100%;
    position: relative;
    flex: 1 1 calc(25% - 1rem);
    max-width: 16rem;
    min-width: 12rem;

    figure {
      flex: 1;
      text-align: left;
      margin: 0;
      padding: 0;
      padding-top: 100%;
      position: relative;
      width: 100%;
      margin-top: -6rem;

      img {
        text-align: left;
        margin: 0px;
        padding: 0px;
        border: 0px;
        width: 100%;
        height: 100%;
        position: absolute;
        inset: 0px;
        display: block;
        border-radius: 100%;
        box-shadow: 0 0 1rem 0.1rem rgba(0, 0, 0, 0.2);

        &:hover {
          transform: scale(1.01);
          transition: transform 0.3s;
          transition-timing-function: ease-out;
        }
      }
    }

    >div {
      display: flex;
      flex-flow: column nowrap;
      @include box;

      >div {
        margin: 0 1rem;
      }

      .image {
        flex: 1;
      }

      .info {
        margin-bottom: 1rem;
        display: flex;
        gap: .5rem;
        flex-wrap: wrap;
      }

      .buttons {
        text-align: right;
        margin-bottom: .5rem;
      }
    }

    h3 {
      line-height: 1.4;
      max-height: calc(1.4em * 2);
      height: calc(1.4em * 2);
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}

@media (max-width: 1000px) {
  .list {
    justify-content: space-evenly;
  }
}