@use "./variables.scss" as *;
@use "./syntax.scss";
@use "./callouts.scss";

html {
  scroll-behavior: smooth;
  text-size-adjust: none;
  overflow-x: hidden;
  width: 100vw;
}

body,
section {
  margin: 0;
  max-width: 100%;
  box-sizing: border-box;
  background-color: var(--light);
  font-family: var(--bodyFont);
  color: var(--darkgray);
}

.text-highlight {
  background-color: #fff23688;
  padding: 0 0.1rem;
  border-radius: 5px;
}

::selection {
  background: color-mix(in srgb, var(--tertiary) 60%, rgba(255, 255, 255, 0));
  color: var(--darkgray);
}

p,
ul,
text,
a,
tr,
td,
li,
ol,
ul,
.katex,
.math {
  color: var(--darkgray);
  fill: var(--darkgray);
  overflow-wrap: anywhere;
  hyphens: auto;
}

.math {
  &.math-display {
    text-align: center;
  }
}

strong {
  font-weight: $semiBoldWeight;
}

a {
  font-weight: $semiBoldWeight;
  text-decoration: none;
  transition: color 0.2s ease;
  color: var(--secondary);

  &:hover {
    color: var(--tertiary) !important;
  }

  &.internal {
    text-decoration: none;
    background-color: var(--highlight);
    padding: 0 0.1rem;
    border-radius: 5px;
    line-height: 1.4rem;

    &:has(> img) {
      background-color: none;
      border-radius: 0;
      padding: 0;
    }

    &.tag-link {
      &::before {
        content: "#";
      }
    }
  }

  &.external .external-icon {
    height: 1ex;
    margin: 0 0.15em;

    >path {
      fill: var(--dark);
    }
  }
}

.desktop-only {
  @media all and (max-width: $fullPageWidth) {
    display: none !important;
  }
}

.min-tablet {
  @media all and (max-width: $midFullPageWidth) {
    display: none !important;
  }
}

.mobile-only {
  display: none;

  @media all and (max-width: $midFullPageWidth) {
    display: initial;
  }
}

.page {
  & article {
    &>h1 {
      font-size: 2rem;
    }

    & li:has(> input[type="checkbox"]) {
      list-style-type: none;
      padding-left: 0;
    }

    & li:has(> input[type="checkbox"]:checked) {
      text-decoration: line-through;
      text-decoration-color: var(--gray);
      color: var(--gray);
    }

    & li>* {
      margin-top: 0;
      margin-bottom: 0;
    }

    p>strong {
      color: var(--dark);
    }
  }

  &>#quartz-body {
    padding: 1rem;
    width: 100%;
    display: grid;
    grid-template-columns: $sidePanelWidth $pageWidth $sidePanelWidth;
    grid-gap: 3rem;
    justify-content: center;
    grid-template-areas: "A B C";

    .left {
      grid-area: A;
    }

    .center {
      grid-area: B;
    }

    .right {
      grid-area: C;
    }

    footer {
      grid-area: C;
    }

    @media all and (max-width: $fullPageWidth) {
      grid-template-columns: $sidePanelWidth $pageWidth;
      grid-template-rows: auto auto;
      grid-template-areas:
        "A B"
        "A C";
    }

    @media all and (max-width: $midFullPageWidth) {
      grid-gap: 0;
      grid-template-columns: min($pageWidth, 100vw - 2rem);
      grid-template-areas:
        "A"
        "B"
        "C";
    }

    & .sidebar {
      img {
        margin: 0;
      }

      --sidebar-height : calc(100vh - var(--topSpacing) - 1rem);
      display: flex;
      gap: 1rem;
      box-sizing: border-box;
      flex-direction: column;
      align-items: unset;
      max-height: var(--sidebar-height);
      margin-block: 3rem;

      @media all and (min-width: $midFullPageWidth) {
        margin: var(--topSpacing) 1rem;
        position: sticky;
        top: var(--topSpacing);
      }
    }
  }

  & .page-header {
    margin-top: var(--topSpacing);

    @media all and (max-width: $midFullPageWidth) {
      margin-top: 2rem;
    }
  }

  & footer {
    max-width: min($pageWidth, 100vw - 2rem);
    width: 100%;
    margin: auto auto 2rem auto;
  }
}

.footnotes {
  margin-top: 2rem;
  border-top: 1px solid var(--lightgray);
}

input[type="checkbox"] {
  transform: translateY(2px);
  color: var(--secondary);
  border: 1px solid var(--lightgray);
  border-radius: 3px;
  background-color: var(--light);
  position: relative;
  margin-inline-end: 0.2rem;
  margin-inline-start: -1.4rem;
  appearance: none;
  width: 16px;
  height: 16px;

  &:checked {
    border-color: var(--secondary);
    background-color: var(--secondary);

    &::after {
      content: "";
      position: absolute;
      left: 4px;
      top: 1px;
      width: 4px;
      height: 8px;
      display: block;
      border: solid var(--light);
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
    }
  }
}

blockquote {
  margin: 1rem 0;
  border-left: 3px solid var(--secondary);
  padding-left: 1rem;
  transition: border-color 0.2s ease;
}

h1,
h2,
h3,
h4,
h5,
h6,
thead {
  font-family: var(--headerFont);
  color: var(--dark);
  font-weight: revert;
  margin-bottom: 0;

  article>&>a[role="anchor"] {
    color: var(--dark);
    background-color: transparent;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  &[id]>a[href^="#"] {
    margin: 0 0.5rem;
    opacity: 0;
    transition: opacity 0.2s ease;
    transform: translateY(-0.1rem);
    font-family: var(--codeFont);
    user-select: none;
  }

  &[id]:hover>a {
    opacity: 1;
  }
}

// typography improvements
h1 {
  font-size: 1.75rem;
  margin-top: 2.25rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.4rem;
  margin-top: 1.9rem;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.12rem;
  margin-top: 1.62rem;
  margin-bottom: 1rem;
}

h4,
h5,
h6 {
  font-size: 1rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

figure[data-rehype-pretty-code-figure] {
  margin: 0;
  position: relative;
  line-height: 1.6rem;
  position: relative;

  &>[data-rehype-pretty-code-title] {
    font-family: var(--codeFont);
    font-size: 0.9rem;
    padding: 0.1rem 0.5rem;
    border: 1px solid var(--lightgray);
    width: max-content;
    border-radius: 5px;
    margin-bottom: -0.5rem;
    color: var(--darkgray);
  }

  &>pre {
    padding: 0;
  }
}

pre {
  font-family: var(--codeFont);
  padding: 0 0.5rem;
  border-radius: 5px;
  overflow-x: auto;
  border: 1px solid var(--lightgray);
  position: relative;

  &:has(> code.mermaid) {
    border: none;
  }

  &>code {
    background: none;
    padding: 0;
    font-size: 0.85rem;
    counter-reset: line;
    counter-increment: line 0;
    display: grid;
    padding: 0.5rem 0;
    overflow-x: scroll;

    & [data-highlighted-chars] {
      background-color: var(--highlight);
      border-radius: 5px;
    }

    &>[data-line] {
      padding: 0 0.25rem;
      box-sizing: border-box;
      border-left: 3px solid transparent;

      &[data-highlighted-line] {
        background-color: var(--highlight);
        border-left: 3px solid var(--secondary);
      }

      &::before {
        content: counter(line);
        counter-increment: line;
        width: 1rem;
        margin-right: 1rem;
        display: inline-block;
        text-align: right;
        color: rgba(115, 138, 148, 0.6);
      }
    }

    &[data-line-numbers-max-digits="2"]>[data-line]::before {
      width: 2rem;
    }

    &[data-line-numbers-max-digits="3"]>[data-line]::before {
      width: 3rem;
    }
  }
}

code {
  font-size: 0.9em;
  color: var(--dark);
  font-family: var(--codeFont);
  border-radius: 5px;
  padding: 0.1rem 0.2rem;
  background: var(--lightgray);
}

tbody,
li,
p {
  line-height: 1.6rem;
}

.table-container {
  overflow-x: auto;

  &>table {
    margin: 1rem;
    padding: 1.5rem;
    border-collapse: collapse;

    th,
    td {
      min-width: 75px;
    }

    &>* {
      line-height: 2rem;
    }
  }
}

th {
  text-align: left;
  padding: 0.4rem 0.7rem;
  border-bottom: 2px solid var(--gray);
}

td {
  padding: 0.2rem 0.7rem;
}

tr {
  border-bottom: 1px solid var(--lightgray);

  &:last-child {
    border-bottom: none;
  }
}

img {
  max-width: 100%;
  border-radius: 5px;
  margin: 1rem 0;
}

p>img+em {
  display: block;
  transform: translateY(-1rem);
}

hr {
  width: 100%;
  margin: .2rem auto 1.5rem auto;
  height: 1px;
  border: none;
  background-color: var(--lightgray);
}

audio,
video {
  width: 100%;
  border-radius: 5px;
}

.spacer {
  flex: 1 1 auto;
}

ul.overflow,
ol.overflow {
  max-height: 400;
  overflow-y: auto;
  position: relative;

  // clearfix
  content: "";
  clear: both;

  &>li:last-of-type {
    margin-bottom: 30px;
  }

}

.transclude {
  ul {
    padding-left: 1rem;
  }
}

.katex-display {
  overflow-x: auto;
  overflow-y: hidden;
}

ol li {
  &:has(> input[type="checkbox"]) {
    list-style-type: decimal !important;
  }

  input[type="checkbox"] {
    display: none;

    &+label {
      cursor: pointer;
    }

    &:checked+label {
      text-decoration: line-through;
      color: var(--gray);
    }
  }
}

kbd {
  border: 1px solid var(--darkgray);
  padding: 2px 5px;
  border-radius: 5px;
  color: var(--darkgray);
  opacity: .5;
  font-size: smaller;
}

.hidden {
  display: none;
}

* {
  box-sizing: border-box;
}