$pageWidth: 45rem;
$mobileBreakpoint: 600px;
$tabletBreakpoint: 1000px;
$sidePanelWidth: 20rem;
$fullPageWidth: $pageWidth + 2 * $sidePanelWidth + 6rem;
$boldWeight: 700;
$semiBoldWeight: 600;
$normalWeight: 400;
$midFullPageWidth: $pageWidth + $sidePanelWidth + 6rem;

:root {
  --topSpacing: 6rem;

}